header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
  position: absolute;
  top: 50%;
  /*manter a largura do header*/
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}
#servicos{
  margin: 0 30px;
}

/*btn comprar*/
input{
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #252c41;
  border: 2px solid #252c41;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}